{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home">



<style type="text/css">

 img.coming {
   width: 100%;position: fixed;left: 0;top: 0;z-index: 9999999;    height: 100%;
  }

   img.comingm {
   width: 100%;position: fixed;left: 0;top: 0;z-index: 9999999;    height: 100%;display: none;
  }


  @media only screen and (max-width: 600px) {
  img.coming {
   width: 100%;position: fixed;left: 0;top: 0;z-index: 9999999;    height: 100%; display: none;
  }

   img.comingm {
   width: 100%;position: fixed;left: 0;top: 0;z-index: 9999999;    height: 100%;    display: unset;
  }

}
</style>



<!-- 
<img class="coming" src="/static/assets/coming.jpg">
<img class="comingm" src="/static/assets/comingm.jpg"> -->


<div class="slider">
  

<div id="slider">
<figure>
<img src="/static/assets/slider1.jpg">
<img src="/static/assets/slider2.jpg" >
<img src="/static/assets/slider1.jpg" >
<img src="/static/assets/slider1.jpg" >
<img src="/static/assets/slider1.jpg" >
</figure>
</div>


</div>

<div class="divhome">

<h1>INKA</h1><p>TRADITIONS</p>



<div class="hish"><b>REFLEJAMOS EL LUJO ETNICO PERUANO EN NUESTROS
PRODUCTOS CON UN TOQUE DE ELEGANCIA<br><b>¡LOS INVITAMOS A
SER PARTE DE ESTA EXPERIENCIA!</b><br>
<a href="/static/assets/nosotros.html">CONOCE MÁS</a></div>






</div>

<div class="hish2">
  
<div class="hish2hijo" style="border: none;background: none;"><div><img style="width: 100%;    max-height: 100%;" src="/static/assets/hishcont.png"></div></div>

<div class="hish2hijo"><div><h1 style="color: white">DERECHA</h1><br>
<p style="text-align: justify;">
  Inkatraditions Trabaja con 120 talleres de artesanos distribuidos en
el litoral Peruano entre ellos artesanas en textiles (Tejidos a telar,
Grochet y Palito, bordado), cerámica, tallado en madera, vidrio
pintado, mates burilados, entre otros, nuestro trabajo es sostenible
durante todo el año, en periodos que no hay exportaciones
nuestras artesanas producen para las ventas locales a turistas
extrangeros de nuestras tiendas. Nuestro trabajo esta alineado a
los 10 principios de comercio justo, y las ODS de la ONU (igualdad
de genero, lucha por la pobresa, cuidado de la Naturaleza).<br>
<a href="https://inkatraditions.herokuapp.com/static/assets/historia.html">LEER MÁS</a></div>

</p></div></div>


</div>


   <br>  








<h1>LookBook</h1>
<div class="lookbook">
<a href="/static/assets/homedecore-2ColecCojinesOrgánicoOK.html"><div class="lookbookhijo1"><center><h2>Cojines Orgánicos</h2></center></div></a>
<a href="/static/assets/homedecore-3ColecFrazadasOk.html"><div class="lookbookhijo2"><center><h2>Frazadas</h2></center></div></a>
<a href="/static/assets/homedecore-coleccaminosbordadosOK.html"><div class="lookbookhijo4"><center><h2>Caminos Bordados</h2></center></div></a>
<br>

<a href="/static/assets/ColecCojinesBordados1OK.html"><div class="lookbookhijo5"><center><h2>Cojines Bordados</h2></center></div></a>
<a href="/static/assets/ColecCojinesBordados2OK.html"><div class="lookbookhijo3"><center><h2>Cojines Bordados 2</h2></center></div></a>
<a href="/static/assets/Coleccojinesinka1OK.html"><div class="lookbookhijo6"><center><h2>Cojines Inka</h2></center></div></a>
<br>

<a href="/static/assets/ColecCojinesinka2OK.html"><div class="lookbookhijo5"><center><h2>Cojines Inka 2</h2></center></div></a>
<a href="/static/assets/ColecCojinesBordados2OK.html"><div class="lookbookhijo3"><center><h2>Cojines Bordados 2</h2></center></div></a>
<a href="/static/assets/Coleccojinesinka1OK.html"><div class="lookbookhijo6"><center><h2>Cojines Inka</h2></center></div></a>






<a href=""><h1>Where We Work</h1>

<div class="where">

  <div class="wherehijo1"></div>
 


</div>
</a>








   <br>    <br>    <br>    <br>




 <br>    <br>
<div class="sliders">
  <br><br>
  <p class="tsli">
<h1>Alianzas</h1></p>
<div class="slider1"></div>

<br><br>
<br><br>



</div>


 

    <div class="row">
    <!--   <div class="col-sm-12 home__block1">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Promo & Sale" context "Homepage title" %}</h1>
                <h2>{% trans "from the Northpole" context "Homepage title" %}</h2>
                  <a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
    <!--   <div class="col-sm-12 col-md-6 home__block2">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "Size & Colours" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 home__block3">
        <div class="home--square">
          <div class="home--content">
            <div class="home--content-wrapper">
              <div class="home--content-inner">
                <h1>{% trans "LookBook" context "Homepage title" %}</h1>
                <a class="btn btn-secondary home__button" href="#">{% trans "Ver LookBook" context "Homepage action" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  
 

    <!-- {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div> -->


<footer class="footer">
  <div class="footer__menus">
    <div class="container">
      <div class="row">
          





    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}



  </footer>